* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #f1f1f1;
}

header {
    width: 100%;
    height: 50px;
    margin-top: 10px;
}

main {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
}

section {
    width: 40%;
    height: 100%;
}

.bloque1 {
    width: 70%;
}

.textArea {
    width: 80%;
    height: 70%;
    display: block;
    margin: auto;
    margin-top: 20px;
    resize: none;
    font-size: 30px;
    line-height: 48px;
    color: #0A3871;
    border: none;
    background-color: inherit;
}

.restricciones {
    width: 70%;
    display: inline-block;
    margin-top: 15px;
    margin-left: 10%;
    font-size: 12px;
    font-weight: 400;
    color: #495057;
}

.exclamation {
    border-radius: 50%;
    color: #e8ecf8;
    padding: 0.35rem 1rem;
    font-size: 15px;
    font-weight: bold;
    background-color: #757882;
}

.btnEncriptar {
    width: 30%;
    height: 55px;
    margin-top: 30px;
    background-color: #0A3871;
    color: #fff;
    border: 2px solid #fff;
}

.btnDesencriptar {
    width: 30%;
    height: 55px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px solid #0A3871;
}

.contendedorBotones {
    text-align: center;
    height: 30%;
}

.btnEncriptar,
.btnDesencriptar {
    border-radius: 24px;
}

.btnEncriptar:hover,
.btnDesencriptar:hover,
.btnCopiar:hover {
    border: 3px solid #0A3871;
}

.bloque2 {
    width: 30%;
    max-width: 400px;
    height: auto;
    background-color: #fff;
    border-radius: 32px;
    margin-right: 20px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0px 24px 32px -8px #00000014;
}

.contenedorImagenPanel {
    width: 100%;
    max-width: 100%;
    height: auto;
    padding-top: 80px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedorH3 {
    width: 100%;
    height: 7%;
    text-align: center;
    color: #343A40;
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 20px;
}

.contenedorParrafo {
    width: 100%;
    height: 10%;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 35px;
    margin-bottom: 20px;
}

.contenedorResultado p {
    font-size: 24px;
    line-height: 36px;
}

.contenedorResultado {
    width: 100%;
    height: 70%;
    padding: 25px;
    box-sizing: border-box;
}

.textoResultado {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #495057;
}

.contenedorCopiar {
    width: 100%;
    height: 20%;
    position: relative;
    margin-top: 10.5em;
    /* ajusto mas o menos para alinear horizontalmente con los botones del bloque1...*/
}

.btnCopiar {
    width: 65%;
    height: 55px;
    display: block;
    margin: auto;
    border-radius: 24px;
    border: 2px solid #0A3871;
    position: relative;
    bottom: 20px;
    left: 0;
    right: 0;
    z-index: 2;
}

footer {
    display: flex;
    align-items: center;
    /* Centra verticalmente los elementos */
    justify-content: center;
    /* Centra horizontalmente los elementos */
    width: 100%;
    height: 30px;
    line-height: 32px;
    text-align: center;
    margin: auto;
    margin-top: 15px;
}

.LogoGitHub {
    width: 20px;
    margin-left: 10px;
    /* Espacio entre el texto y el icono */
    vertical-align: middle;
}

.mensaje-tablet {
    display: none;
    /* Oculto inicialmente */
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    /* Color de texto */
}

.hide {
    display: none;
}

/* Estilos para popup de check al copiar texto encriptado... */
#check {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    /* Ancho del círculo */
    height: 60px;
    /* Altura del círculo */
    border-radius: 50%;
    /*contenedor circular */
    background-color: #0A3871;
    /* fondo del círculo */
    display: none;
    /* Oculta contenedor por default */
    z-index: 100;
    /*coloco el popup sobre tdosos los elementos html...*/
}

#check-symbol {
    color: limegreen;
    /* Color del símbolo*/
    font-size: 50px;
    /* Tamaño del símbolo*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Estilos para smartphones */
@media only screen and (max-width: 767px) {

    .logo {
        width: 75px;
        height: auto;
    }

    main {
        flex-direction: column;
    }

    section {
        width: 100%;
        margin: 10px 0;
    }

    .textArea {
        width: 90%;
        height: 200px;
        font-size: 20px;
        line-height: 28px;
    }

    .bloque1 {
        width: 100%;
    }

    .bloque2 {
        width: 90%;
        margin: auto;
    }

    .contenedorImagenPanel {
        display: none;
    }

    .restricciones {
        width: auto;
        text-align: center;
        margin-bottom: 15px;
        font-size: 12px;
    }

    .btnEncriptar,
    .btnDesencriptar,
    .btnCopiar {
        width: 40%;
        display: block;
        margin-bottom: 10px;
        /* Añadir espacio entre los botones */
        margin: 10px auto;
    }

    .contenedorH3 {
        margin-top: 15px;
    }

    .contenedorParrafo {
        margin-top: 15px;
    }

    .contenedorCopiar {
        margin-top: auto;
    }

    #check {
        width: 40px; /* Tamaño más pequeño del círculo */
        height: 40px;
        top: 80%; /* Ajusta la posición vertical */
    }

    #check-symbol {
        font-size: 30px; /* Tamaño más pequeño del símbolo */
    }

    footer {
        margin-top: 15px;
    }
}

/* Estilos para tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .bloque1 {
        width: 60%;
    }

    .bloque2 {
        width: 40%;
    }

    .contenedorImagenPanel {
        display: none;
    }

    .restricciones {
        margin-left: 0;
        text-align: center;
    }
}

/* Aplico para resaltar el bloque2 al encriptar 
no se ve muy bien...  :( */
.resaltado {
    /* border: 2px solid rgb(197, 45, 45); */
    /* Establece el borde rojo */
    box-shadow: 0px 0px 10px 2px #0A3871;
}